/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: #eee;
}

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #25272c;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.main-nav li:first-child {
    font-weight: bolder;
}

.user img {
    width: 120px;
    margin-right: 10px;
}

/* //el buscador */
.search-box {
    position: relative;
    width: 50%;
    margin: 50px;
    }
    .search-form {
    height: 32px;
    background-color: rgb(204, 197, 197);
    overflow: hidden;
    }
    .search-text {
    font-size: 14px;
    color: rgb(43, 34, 34);
    border-width: 0;
    background: transparent;
    }
    
    .search-box input[type="text"] {
    width: 50%;
    padding: 8px 0 12px 1em;
    color: #333;
    outline: none;
    }
    .search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 70px;
    color: rgb(0, 0, 0);
    line-height: 4px;
    border-width: 0;
    cursor: pointer;
    }











