/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: rgb(243, 243, 243);
}

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #25272c;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.main-nav li:first-child {
    font-weight: bolder;
}

.user img {
    width: 120px;
    margin-right: 10px;
}
/* //el buscador */
.search-box {
    position: relative;
    width: 30%;
    margin: 50px;
    
    }
    .container{
        width: 80%;
        height: 23px;
        
        }
        .botton2{
        border-width: 3px;
        border-style: solid;
        border-radius:35px;
        }
/* 
botton */
.botton{
    text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#333333;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#9e9789;
border-color: #d8d8d8;
border-width: 3px;
border-style: solid;
border-radius:35px;
margin-top: 180px;
margin-left: 30px;
}
/* texto del detalle */
.palabraDetalle{
    color: rgb(231, 231, 231);
}
@media (min-width: 1024px){
    .botton{
        text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#9e9789;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    margin-top: 0px;
    margin-left: 30px;
    }
}








