/* Detalle de las Series */

* {
    box-sizing: border-box;
}

/*Mobile*/
body {
    background-color: white;
    margin: 0px;
}

/*Header*/

.header {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:1%;
    align-items: center;
} 

.eye {
    margin: 3%;
    margin-left: 3%;
}


.botongeneros {
    text-align: right;
    color: #A6A292;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
}

.botongeneros:hover {
    opacity:50%;
}


.fotoeye {
    width: 30%;
}

.fotoeye:hover {
    opacity:50%;
}

/*Main*/
.contenido {
    display: grid;
    grid-template-rows: repeat(1,1fr);
    justify-content: space-around;
}

.imagen {
    margin-top:none;
    width: 90%;
    justify-content: center;
    height: inherit;
    width: 100%;
}


a, a:hover{
    text-decoration: none;
    color: black;
}

a:hover {
    opacity:50%
}

h3.titulo {
    font-family: 'Arapey', serif;
    color:black;
    font-size: 60px;
    margin-bottom:3%;
    margin-top: 3%;
    margin: 1%;
}

.trama {
    font-family: 'Arapey', serif;
    color:black;
    font-size:15px;
    margin: 1%;
    margin-top:5%;
    margin-bottom: 3%;
}

.button {
    margin: 1%;
    background-color: black;
    font-family: 'Arapey', serif;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
}


.button:hover {
    opacity:50%;
    text-decoration: none;
}

.reviews {
    font-size: 15px;
    margin-top: 2%;
}
    
.informacion {
    line-height: 150%;
    font-family: 'Arapey', serif;
    color:black;
    font-size:15px;
    text-decoration: none;
    list-style-type: none;
    padding: 0%;
    margin: 1%;
    margin-top:2%;
    margin-bottom: 5%;
}


/*Tablet*/
@media (min-width:576px) {
    .botongeneros {
       font-size: 35px;
    }

    .trama {
        font-size:20px;
    }

    .informacion{
        font-size: 20px;
    }

    .reviews {
        font-size: 20px;   
    }
}

/*Desktop*/
@media (min-width:1024px){

    /*Header*/

    .header {
        
        background-size: cover;
    }

    a.eye {
        margin: 1%;
        margin-left: 1%;
        width: 50%;
        margin-bottom: 2.5%;
    }

    .botongeneros {
        font-size: 40px;
        margin: 1%;
        margin-bottom: 2.5%;
    }

    /*Main*/
    .contenido {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
        height: 50em;
    }

    .titulo {
        font-size: 80px;
    }

    .trama {
        font-size:25px;
        margin-bottom: 5%;
    }

    .button{
        font-size: 20px;
    }

    .informacion {
        font-size:25px;
        margin-top: 5%;
    }


    .reviews {
        font-size: 25px;
    }

}